version: 2.0
jobs:
    build:
        working_directory: ~/repo
        docker:
            - image: circleci/python:3.6.1
        steps:
            - checkout
            - restore_cache:
                keys:
                    - v1-dependencies-{{ checksum "setup.py" }}
                    - v1-dependencies-

            - run:
                name: install dependencies
                command: |
                    python3 -m venv venv
                    . venv/bin/activate
                    python3 setup.py install
                    pip install tox

            - save_cache:
                paths:
                    - ./venv
                key: v1-dependencies-{{ checksum "setup.py" }}

            - run:
                name: run unit tests
                command: |
                    . venv/bin/activate
                    tox -e pep8,py36-unit

            - run:
                name: collect unit coverage
                command: |
                    bash <(curl -s https://codecov.io/bash) -f unittest.xml -F unittests

            - run:
                name: run integration tests
                command: |
                    . venv/bin/activate
                    tox -e py36-integration

            - run:
                name: collect integration coverage
                command: |
                    bash <(curl -s https://codecov.io/bash) -f integration.xml -F integration

            - store_artifacts:
                path: test-reports
                destination: test-reports
